= f.input :start_time, as: :datetime, wrapper_html: { class: "col-md-6" }
= f.input :end_time, as: :datetime, wrapper_html: { class: "col-md-6" }

= f.input :street
= f.input :zipcode
= f.input :city
