.container
  - if params[:preview]
    .alert.alert-info{:role => "alert"}
      Currently viewing a preview of "#{@post.title}".
  .row
    .col-md-12
      %h2= @post.title
  .row
    .col-md-12
      = @post.content.html_safe
      %p= render 'tags', post: @post
  = render_comments if @post.show_comments? && !@post.preview
