%body
  %header
    .navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to @site.title, "/", class: "navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            - Storytime::Page.published.each do |page|
              - next if page.id == current_site.root_post_id
              %li= link_to page.title, storytime.url_for(controller: "pages", action: "show", id: page.slug)
            %li= link_to "Agenda", storytime.url_for(controller: "posts", action: "index", post_type: "events")
            %li= link_to "Blog", storytime.url_for(Storytime::BlogPost.type_name.pluralize)
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "#{t 'layout.subscribe_to', site_name: @site.title}", "#", data: {target: "#addSubscriptionModal", toggle: "modal"}
            - unless user_signed_in?
              %li= link_to "Sign In", Storytime.login_path
  = render partial: "storytime/subscriptions/modal"
