!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= t('layout.title')
    = stylesheet_link_tag    "storytime/application", media: "all"
    = stylesheet_link_tag    "application", media: "all"
    - if request.path.match "admin"
      = stylesheet_link_tag "backend", media: "all"
    - else
      = stylesheet_link_tag "frontend", media: "all"
    = javascript_include_tag "storytime/application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

  %body.home
    / %body{:class => "#{params[:controller].split('/').join(' ')} #{params[:action]} #{params[:controller].parameterize}-controller #{params[:action]}-action", "data-action" => params[:action].camelize, "data-controller" => params[:controller].camelize}
    / = render "storytime/application/storytime/navigation"
    = render "storytime/application/storytime/flash"
    = render "storytime/application/storytime/header"


    / Header
    - if @page && @page.id == current_site.root_post_id
      %header#head
        .container
          .row
            %h1.lead Arlon, cité gallo-romaine
            %p.tagline
              Chef-lieu de la province de Luxembourg, Arlon, ville gallo-romaine et l'une des plus vieilles villes de Belgique, est heureuse de vous accueillir. Nous sommes parvenus à y préserver la nature, le calme et le charme d'une petite ville.
              %a{:href => "http://www.gettemplate.com/?utm_source=progressus&utm_medium=template&utm_campaign=progressus"} GetTemplate
            %p
              %a.btn.btn-default.btn-lg{:href => "http://www.gettemplate.com/", :role => "button"} MORE INFO
              %a.btn.btn-download.btn-action.btn-lg{:href => "http://www.gettemplate.com/downloads/progressus.zip", :role => "button"} DOWNLOAD NOW
    - else
      %header.secondary.mb100
    = render "shared/search"

    = yield
    / Social links. @TODO: replace by link/instructions in template
    %section#social
      .container
        .wrapper.clearfix
          / AddThis Button BEGIN
          .addthis_toolbox.addthis_default_style
            %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
            %a.addthis_button_tweet
            %a.addthis_button_linkedin_counter
            %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
          / AddThis Button END
    = render "storytime/application/storytime/footer"
    = render "storytime/sites/google_analytics_code"
